/* Ernest (1:30PM 5/29/2021)
Description:
LoginUser.css is identical to NewUser.css.
*/

.login-form {
    width: 100%;
    max-width: 330px;
    padding: 5px;
    margin: auto;
    height: 100%;
}

.label {
    text-align: left;
    width: 100%;
    max-width: 330px;
    padding: 5px;
    margin: auto;
    height: 100%;
}

.buttonForm {
    width: 100%;
    max-width: 330px;
    padding: 30px;
    margin: auto;
    height: 100%;
}

.button {    
    width: 100%;
    max-width: 320px;
    height: 100%;
}