/* ----------------------------------------------------------------------------------------------------*/
/*Denver (12:43AM 5/31/2021)
Update:
This is also based on Ernests excellent design and changed the photo to one of the others he had uploaded which seemed like what he intended
*/
/* ----------------------------------------------------------------------------------------------------*/

.SearchPage {
    text-align: center;
    /*background-image: url("https://cdn2.lamag.com/wp-content/uploads/sites/6/2020/03/los-angeles-gym-closed-danielle-cerullo-CQfNt66ttZM-unsplash-1068x712.jpg");*/
    background-image: url("../img/background5.jpg");

    /* position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center;

    overflow-y: scroll;
    height: auto; */

    /* position: fixed; */
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    /* overflow: auto; */
    overflow-y: scroll;
    height: auto;
    padding-top: 100px;
}

.SearchPageBackground {
    background-image: url("../img/background.jpg") no-repeat; 
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
  }

  .font-link {
    font-family: 'Amiri', serif;
}

.font-link3 {
    font-family: 'Ramabhadra', sans-serif;
}

.SearchPageMessage {
    opacity: 1;
    transition: 7s opacity;
    color: #000000;
    /*margin-bottom: 25px;*/
}

.fade-in {
    opacity: 1;
}

/* .cardList {
    padding-top: 100px;
    padding-bottom: 100px;
} */

