/* Ernest (1:30PM 5/29/2021)
Description:
LoginUser.css is identical to NewUser.css.
*/

.login-form {
    width: 100%;
    max-width: 330px;
    padding: 5px;
    margin: auto;
    height: 100%;
}

.label {
    color: #f5f5f5;
    text-align: left;
    width: 100%;
    max-width: 330px;
    padding: 5px;
    margin: auto;
    height: 100%;
}

.buttonForm {
    width: 100%;
    max-width: 330px;
    padding: 30px;
    margin: auto;
    height: 100%;
}

.button {    
    width: 100%;
    max-width: 30px;
    height: 100%;
}

/*
.transparent-input {
    background-color: rgba(0, 0, 0, 0);
    opacity: 0;
    border:none;
}*/

input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
  }

  .font-link {
    font-family: 'Amiri', serif;
}

  